<!DOCTYPE html>
<head>
    <meta charset="ISO-8859-1">
    <link rel='stylesheet' href='../css/barre_menu.css' type='text/css' />
    <link rel='stylesheet' href='../css/info.css' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../js/info.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Alpha Leonis</title>
</head>
{% include 'barre_menu.html.twig' %}
<body>
{%  if message_erreur is not empty %}
    <h1>{{ message_erreur }}</h1>
{%  endif  %}
<div id="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
        </ol>

        <div class="carousel-inner">
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div  id="container-infos">
        <form method="GET"  action="info.php? ">
            <input type="hidden" name="pdf" />
            {% if info_planete is not empty %}
                <input type="hidden" name="planete" value="{{ info_planete.nom }}" />
            {% endif %}
            {%  if info_constellation is not empty %}
                <input type="hidden" name="constellation" value="{{ info_constellation.abv }}" />
            {% endif %}
            <input type="hidden" name="pdf" value="1"/>

            <img src="../assets/img/pdf.png" onclick="submit();" style="float:right">
        </form>
        {%  if info_planete is not empty %}
            {% if is_favoris %}
                <img src="../assets/img/heart.png" style="width:50px;" >
            {%  else  %}
                <img src="../assets/img/heart_grey.png" style="width:50px;" onclick="addtofav('{{ info_planete.id  }}','planete'); window.location.replace('../php/info.php?planete={{ info_planete.nom }}');">
            {% endif %}
        <ul id="liste_info">
            <li id="nom" > {{ info_planete.nom }}</li>
            {% if info_planete.mass is not empty %}
                <li><label>Masse :</label>{{ info_planete.mass }} 10e24Kg</li>
            {%  endif %}
            {% if info_planete.diameter is not empty %}
                <li><label>Diamètre : </label>{{ info_planete.diameter }} Km</li>
            {%  endif %}
            {% if info_planete.density is not empty %}
                <li><label>Densité :</label>  {{ info_planete.density }} Kg/m3</li>
            {%  endif %}
            {% if info_planete.gravity is not empty %}
                <li><label>Gravité :</label> {{ info_planete.gravity }} 8.7 M/s2</li>
            {%  endif %}
            {% if info_planete.escapeVelocity is not empty %}
                <li><label>Vitesse de libération :</label> {{ info_planete.escapeVelocity }} Km/s</li>
            {%  endif %}
            {% if info_planete.rotationPeriod is not empty %}
                <li><label>Période de rotation :</label> {{ info_planete.rotationPeriod }} h</li>
            {%  endif %}
            {% if info_planete.lengthDay is not empty %}
                <li><label> Durée d'une journée :</label> {{ info_planete.lengthDay }} h</li>
            {%  endif %}
            {% if info_planete.distanceFromSun is not empty %}
                <li><label>Distance du Soleil :</label> {{  info_planete.distanceFromSun }}</li>
            {%  endif %}
            {% if info_planete.meanTemperature is not empty %}
                <li><label>Température moyenne : </label>{{ info_planete.meanTemperature }} C</li>
            {%  endif %}
            {% if info_planete.surfacePressure is not empty %}
                <li><label>Pression en surface : </label>{{ info_planete.surfacePressure }}</li>
            {%  endif %}
            {% if info_planete.numberMoons is not empty %}
                <li><label>Nombre de lunes :</label>{{ info_planete.numberMoons }}</li>
            {%  endif %}
        </ul>
        {%  endif  %}
        {%  if info_constellation is not empty %}
            {% if is_favoris %}
                <img src="../assets/img/heart.png" style="width:50px;" >
            {%  else  %}
                <img src="../assets/img/heart_grey.png" style="width:50px;" onclick="addtofav('{{ info_constellation.id  }}','constellation'); window.location.replace('../php/info.php?constellation={{ info_constellation.abv }}');">
            {% endif %}
            <ul id="liste_info">
                <li id="nom" > {{ info_constellation.nom }}</li>
                {% if info_constellation.nomLatin is not empty %}
                    <li><label>Nom latin :</label>{{ info_constellation.nomLatin }} </li>
                {%  endif %}
                {% if info_constellation.ascensionDroite is not empty %}
                    <li><label>Ascension droite : </label>{{ info_constellation.ascensionDroite }}</li>
                {%  endif %}
                {% if info_constellation.declinaison is not empty %}
                    <li><label>Déclinaison :</label>  {{ info_constellation.declinaison }} </li>
                {%  endif %}
                {% if info_constellation.visibilite is not empty %}
                    <li><label>Visibilité :</label> {{ info_constellation.visibilite }} </li>
                {%  endif %}
                {% if info_constellation.meridien is not empty %}
                    <li><label>Méridien :</label> {{ info_constellation.meridien }}</li>
                {%  endif %}
                {% if info_constellation.nombreEtoile is not empty %}
                    <li><label>Nombre d'étoile  :</label> {{ info_constellation.nombreEtoile }} </li>
                {%  endif %}
                {% if info_constellation.nombreEtoileBrillante is not empty %}
                    <li><label> Nombre d'étoile brilliante:</label> {{ info_constellation.nombreEtoileBrillante }} </li>
                {%  endif %}
                {% if info_constellation.etoileLaPlusBrillante is not empty %}
                    <li><label>Etoile la plus brilliante :</label> {{  info_constellation.etoileLaPlusBrillante }}</li>
                {%  endif %}
                {% if info_constellation.etoileLaPlusProche is not empty %}
                    <li><label>Etoile la plus proche: </label>{{ info_constellation.etoileLaPlusProche }} C</li>
                {%  endif %}
            </ul>
        {%  endif  %}
    </img>
</div>
</div>
</body>